<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Max Aakre. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait"
            src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p160x160/55932407_10156640830275129_3080108785277075456_o.jpg?_nc_cat=104&_nc_ohc=Y-ACI2gp4f0AQlIqJAdXQfwGnVoDUOxsahGUOS_xYsjP_Ualyn7F6HgzQ&_nc_ht=scontent-arn2-1.xx&_nc_tp=1&oh=31dc09d2876dcd3c35bb9cb911f54c86&oe=5E95BD5B">
    </div>

    {{>footer}}
</body>

</html>